.b1
{
    background-color: #010D1A;
    height:100vh;
}
.b1-container
{
    display: flex;
}
.b1text
{
    /* background-color: aqua; */
    position: absolute;
    margin-left: 200px;
    margin-top: 200px;
}
#qbtn
{
    background-color: #d44511;
}
#b1pic
{
    /* position: absolute; */
    margin-left: 700px;
    margin-top: 200px;
    
}
.b2
{
    background-color: white;
    height: 100vh;
    padding: 20px;
}
.b2pic
{
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
}
.b2text
{
    position: absolute;
    text-align: justify;
    margin-left: 880px;
    color: black;
    margin-top: 150px;
    width: 500px;
}
#btn2
{
    margin-left: 450px;
    margin-top: 440px;
}
/* #btn2:hover{
    background-color: yellow;
    color: blue;
} */
.b3
{
    background-color: #010D1A;
    height: 100vh;
    padding: 20px;
}
.b3text
{
    text-align: justify;
    width: 500px;
    margin-left: 160px;
    margin-top: 190px;
    position: absolute;
}
#b3btn
{
    margin-top: 500px;
    margin-right: 800px;
}
#btn3
{
    background-color: #d44511;
}
.b3pic
{
    position: absolute;
    margin-left: 800px;
    margin-top: 130px;
}
.b4
{
    background-color: white;
    height: 150vh;
}
.b4pic
{
    position: absolute;
    height: 300px;
    margin-left: 100px;
    background-color: #d44511;
    margin-top: 100px;
    width:500px;
}
#b4s
{
    /* background-color: aqua; */
    color: #d44511;
    position: absolute;
    width: 500px;
    height: 400px;
    margin-left: 860px;
    margin-top: 100px;
    text-align: justify;
}
#b41
{
    height:200px;
    width:400px;
    /* background-color: aquamarine; */
    position: absolute;
    margin-top: 600px;
    margin-left: 120px;
    color: black;
    text-align: justify;
}
#img41
{
    margin-top: 450px;
    margin-left: 590px;
}
#img42
{
    margin-top: 450px;
    margin-left: 100px;
    /* position: absolute; */
}
#b42
{
    color: black;
    position: absolute;
    text-align: justify;
    margin-top: 80px;
}
#mvh3
{
    margin-left: 600px;
}
#b43
{
    width: 350px;
    color: black;
    text-align: justify;
    margin-left: 1050px;
}
#b4p1
{
    width: 400px;
    margin-left: 600px;
}
/* #b4p2
{
    margin-top: 500px;
} */
.b5
{
    background-color: white;
    height: 120vh;
    color: black;
}
#b51
{
    margin-left: 100px;
    margin-top: 90px;
    width:300px;
    background-color:white;
    height:430px;
    position: absolute;
    border: 2px solid black;
}
#b52
{
    margin-left: 550px;
    margin-top: 90px;
    width:300px;
    background-color: white;
    height:430px;
    position: absolute;
    border: 2px solid black;

}
#b53
{
    margin-left: 1000px;
    margin-top: 90px;
    width:300px;
    background-color: white;
    height:430px;
    position: absolute;
    border: 2px solid black
}
#b51date
{
    height:180px;
    /* background-color: #d44511; */
    text-align: left;
    padding-left: 40px;
    /* padding-left: 10px; */
}
#month1
{
    position:absolute;
    height:100px;
    width: 100px;
    margin-left: 80px;
    margin-top: 40px;
}
#month2
{
    position:absolute;
    height:100px;
    width: 100px;
    margin-left: 120px;
    margin-top: 40px;
}
#month3
{
    position:absolute;
    height:100px;
    width: 100px;
    margin-left: 120px;
    margin-top: 40px;
}
#b52date
{
    height:180px;
    /* background-color: #d44511; */
    text-align: left;
    padding-left: 40px;
    
}
#b53date
{
    height:180px;
    /* background-color: #d44511; */
    text-align: left;
    padding-left: 40px;
    
}
#b51event
{
    padding-left: 25px;
    text-align: left;
}
#b52event
{
    padding-left: 25px;
    text-align: left;
}
#b53event
{
    padding-left: 25px;
    text-align: left;
}
#b5btn
{
    margin-top: 670px;
    margin-right: 100px;
    
}
/* #b5btn:hover{
    transition: 1s;
    background-color: skyblue;
    color: blue;
} */
#b51time
{
    position: absolute;
    height:50px;
    width:150px;
    /* background-color: yellow; */
    margin-top: 150px;
    margin-left: 30px;
}
#b52time
{
    position: absolute;
    height:50px;
    width:150px;
    /* background-color: yellow; */
    margin-top: 150px;
    margin-left: 30px;
    
}
#b53time
{
    position: absolute;
    height:50px;
    width:150px;
    float: left;
    /* background-color: yellow; */
    margin-top: 150px;
    margin-left: 30px;

}
#clk3,#clk2,#clk1
{
    position: absolute;
    margin-left: 60px;
}